@using RepoGKK.Models.BaseModels
@model RepoGKK.Models.BaseModels.GkkRediger

@{
    ViewBag.Title = "ForsideRediger";
    Layout = "~/Areas/Admin/Views/Shared/MasterCms.cshtml";
}


<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: 'textarea',
        height: 250,
        theme: 'modern',
        forced_root_block_attrs: { "style": "margin: 5px 0" },
        plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools'
        ],
        toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons',
        image_advtab: true,
        templates: [
            { title: 'Test template 1', content: 'Test 1' },
            { title: 'Test template 2', content: 'Test 2' }
        ],
        content_css: [
            '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css'
        ]
    });
</script>

<br/>
<div class="row">
    <div class="medium-4 columns">

        <form id="Myform" action="/Admin/Admin/Slider_Billede1/" enctype="multipart/form-data" method="POST">
            <h4>Rediger sliderbillede 1</h4>
            <input name="file" type="file"/>
            <input class="KnapStyle" type="submit" name="Gembillede" value="Gem Billede"/>
        </form>
    </div>

    <div class="medium-4 columns">
        <form id="Myform" action="/Admin/Admin/Slider_Billede2/" enctype="multipart/form-data" method="POST">
       
            <h4>Rediger sliderbillede 2</h4>
            <input name="file" type="file"/>
            <input class="KnapStyle" type="submit" name="Gembillede" value="Gem Billede"/>
        </form>
    </div>

    <div class="medium-4 columns">
        <form id="Myform" action="/Admin/Admin/Slider_Billede3/" enctype="multipart/form-data" method="POST">
            <h4>Rediger sliderbillede 3</h4>
            <input name="file" type="file" />
            <input class="KnapStyle" type="submit" name="Gembillede" value="Gem Billede" />
        </form>
    </div>

</div>
<br /><hr /><br />

<div class="row">
    <div class="large-12 columns">

        <form action="/Admin/Admin/ForsideRediger" enctype="mutipart/form-data" method="POST">
            <h4>Redigere text på Forsiden</h4>
            <br />
            <input class="RedigereForsideInput" id="Text1" type="text" name="Overskrift" value="@Model.Overskrift" />
            <textarea name="Tekst">@Model.Tekst</textarea>
            <input id="Hidden1" type="hidden" name="ID" value="@Model.ID" />
            <br />
            <input class="KnapStyle" type="submit" name="Gemforside" value="Gem" />
        </form>

        <br /><hr /><br />

        @if (ViewBag.BestyrelsesMedlemmer != null)
        {
            foreach (GkkBestyrelsen medlem in (ViewBag.BestyrelsesMedlemmer as List<GkkBestyrelsen>))
            {
                <div class="AdminMedlemViwe">
                    <a href="/Admin/Admin/DeleteBestyrelseMedlem/@medlem.ID" onclick="return confirm('Du er ved at slette @medlem.Title - @medlem.Navn. Er du sikker på du vil forsætte?')"> <img src="~/Content/Images/@medlem.Billede"> </a>
                    <br />
                    <i>@medlem.Title</i>
                    <p>@medlem.Navn</p>
                </div>
            }
        }

        <hr />

        <form name="Myform" action="/Admin/Admin/ForsideRedigerBestyrelsen" enctype="multipart/form-data" method="POST">

            <input id="File1" type="file" name="file" />
            <input class="RedigereForsideInput" id="Text1" type="text" placeholder="Title" name="Title" />
            <input class="RedigereForsideInput" id="Text1" type="text" placeholder="Navn" name="Navn" />
            <br />
            <input class="KnapStyle" id="Submit1" type="submit" value="Opret" />
            <hr/>

        </form>
    </div>
</div>


